root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jade,less,html,css,json}]
charset = utf-8

[*.{js,less}]
indent_style = space
indent_size = 4

[*.{jade,html,json}]
indent_style = space
indent_size = 2
