.row
  .col-md-12
    p.about "Hello, I am software engineer. I like solving complex problems and building awesome applications."

.row
  .col-md-12
    h1 Languages, Libraries & Frameworks
    .row
      .col-md-3
        a.language(href="#/") PHP
          .pull-right.badge.bg-blue 10 projects
          .pull-right.badge.bg-orange 7 years
        a.language(href="#/") Laravel
        a.language(href="#/") Silex
        a.language(href="#/") PHPUnit
      .col-md-3
        a.language(href="#/") C++
        a.language(href="#/") Qt/QML
        a.language(href="#/") GTest
        a.language(href="#/") OpenGL

.row
  .col-md-12
    h1 Projects
